
.image{
  height: 20rem;
  margin-bottom: 1rem
}



body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Comic Sans MS";
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.aff{
  text-align
}
.card{
  height: auto;
  width:21%;
  min-width: 30rem;
  border: 2px solid black;
  border-radius: 25px;
  display:flex;
  flex-direction:column; 
  margin-bottom: 3%;
  background-color: lightgreen;
  box-shadow: 5px 5px 5px gray;
  padding: 1px ;
  align-items: center;
  line-height: 1px;
  justify-content: space-around;
}

.container{
  display:flex;
  width: 90vw;
  margin: 1.5rem auto;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 2rem;
}   

* {
  margin: 3px 0 0 0 !important;
}